html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Globales */

.contenedor {
	max-width: 92%;
	margin: 0 auto;
}
@media screen and (min-width: 1200px) {
	.contenedor {
		max-width: 1100px;
		margin: 0 auto;
	}
}
img {
	max-width: 100%;
}

/* Header */

.header {
	height: 100vh;
	background: url('header.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-top: 10px solid #71b100;
}
.header .contenedor {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navegacion-desktop {
	display: none;
}
@media screen and (min-width: 992px) {
	.navegacion-desktop {
		display: block;
	}
	.navegacion-movil {
		display: none;
	}
}
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2rem
}
.navegacion-desktop ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
.navegacion-desktop li {
	margin-right: 1rem;
}
.navegacion-desktop li:last-of-type {
	margin-right: 0;
}
.navegacion-desktop a {
	display: inline-block;
	color: #ffffff;
	font-size: 1.1rem;
	text-decoration: none;
	transition: color .2s ease-in-out;
}
.navegacion-desktop a:hover {
	color: #71b100;
}
.logo img {
	width: 60%;
}
@media screen and (min-width: 992px) {
	.logo img {
		width: auto;
	}
}
.banner {
	color: #ffffff;
	padding-bottom: 1rem;
}
.banner h1 {
	font-size: 1.6rem;
}
@media screen and (min-width: 480px) {
	.banner {
		padding-bottom: 2.4rem;
		width: 80%;
	}
}
@media screen and (min-width: 768px) {
	.banner {
		padding-bottom: 3rem;
		width: 60%;
	}
	.banner h1 {
		font-size: 2.4rem;
	}
}
.navegacion-movil i {
	font-size: 1.2rem;
	color: #ffffff;
	cursor: pointer;
	transition: color .2s ease-in-out;
}
.navegacion-movil i:hover {
	color: #71b100;
}
.movil {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 16rem;
	background-color: #1c1c1c;
	transition: margin .2s ease-in-out;
}
.movil ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.movil li {
	margin: 0 1rem;
	padding: 1rem 0;
	border-bottom: 1px solid #ddd;
}
.movil li:first-of-type {
	text-align: right;
	border: none;
	margin-right: 1rem;
	color: #ddd;
	transition: color .2s ease-in-out;
}
.movil li:first-of-type i:hover {
	color: #71b100;
}
.movil li:last-of-type {
	border: none;
}
.movil a {
	text-decoration: none;
	color: #ddd;
	font-size: 1.2rem;
	transition: color .2s ease-in-out;
}
.movil a:hover {
	color: #71b100;
}
.visible {
	margin: 0;	
}
.oculto {
	margin: 0 -16rem 0 0;	
}